# Copyright (C) 2014-2015 Fabien Parent. All rights reserved.
# Author: Fabien Parent <parent.f@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

menuconfig TCA6408
    bool "TCA6408 support"

if TCA6408
config TCA6408_TESTAPP
    bool "TCA6408 test app"
endif

config UNIFIED_GPIO
    bool "Unified GPIO controller"
    default n
