# Copyright (C) 2014-2015 Fabien Parent. All rights reserved.
# Author: Fabien Parent <parent.f@gmail.com>
#
# Provided under the three clause BSD license found in the LICENSE file.

menu "Apps"

config APP_LSDEV
    bool "lsdev"
    default n

config APP_FREE
    bool "free"
    default n

config APP_PS
    bool "ps"
    default n

config APP_I2C
    bool "i2c"
    depends on I2C
    default n

endmenu
